
<div class="card">
  <table class="table">
    <thead class="thead-primary">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Dự án</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr routerLink = "/thongtin">
        <th >1</th>
        <td>Dự án 1</td>
        <td>Dự án về ....</td>
        <td><button routerLink ='/sua'><i nz-icon nzType="edit" nzTheme="outline"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Dự án 1</td>
        <td>Dự án về ....</td>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>
